/* Estilos generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

footer p {
    margin: 0;
}

.privacy-notice h2 {
    color: #5bc0de; /* Azul claro */
}

.privacy-notice p {
    color: #ddd;
}
